body {
    /* background-color: #202124; */
    background-color: rgb(156, 156, 112);
}
/* Top part styling */
#top-bar {
    display: grid;
    /* background-color: yellow; */
    grid-template-columns: 80%  20%;
} 

article a {
    text-decoration: none;
    color: white;
}

#index-a {
    display: inline-block;
    background-color: #3e4147;
    border-radius: 5px;
    border: 1px solid #3e4147;
    padding: 5px;
}

#index-a:hover {
    border: 1px solid #5f6368;
}

#title {
    font-size: 3rem;
    text-align: left;
}

#index-link {
    text-align: right;
}

/* Form part styling */

